@model IEnumerable<WebsiteBicycleStore.Models.User>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/sanphamstyle.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <style>
        td a{
            font-size:20px
        }

        .title1 {
            text-align: center;
            margin: 0 auto 30px;
            position: relative;
            line-height: 20px;
            color: #555;
            text-decoration-line: underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="=navbar">
            <div class="logo">
                <img src="~/Content/images/Logo.png" style="width:125px" />
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="/Home/Index">Home</a></li>
                    <li><a href="/SanPham/Index">Product</a></li>

                    @if (@Session["Email"] == null)
                    {
                        <li><a href="/Login_SignUp/Login">Login</a></li>
                    }
                    else
                    {
                        <li><a href="/Home/DonHang">Đơn Hàng Của Bạn</a></li>
                        <li><a href="/KhachHang/Index">@Session["Email"]</a></li>
                        <li><a href="@Url.Action("LogOut","Login_SignUp")">LogOut</a></li>
                    }

                    @if (Session["Cart"] != null)
                    {
                        <li><a href="/ShoppingCart/ShowToCart"> <img src="~/Content/images/cart.png" style="width:30px;height:30px" /></a></li>
                    }
                    else
                    {
                        <li><img src="~/Content/images/cart.png" style="width:30px;height:30px" /></li>
                    }



                </ul>

                <img class="menu-icon" src="~/Content/images/menu.png" onclick="menutoggle()" />
            </nav>
        </div>
    </div>


    <h1 style="text-align:center;margin-top:30px">Thông tin tài khoản của bạn</h1>
    <table class="table">
        <tr>
            <td style="background-color:#ff523b">
                @Html.DisplayNameFor(model => model.FirstName)
            </td>
            <td style="background-color:#ff523b">
                @Html.DisplayNameFor(model => model.LastName)
            </td>
            <td style="background-color:#ff523b">
                @Html.DisplayNameFor(model => model.Email)
            </td>
            <td style="background-color:#ff523b">
                @Html.DisplayNameFor(model => model.Password)
            </td>
            <td style="text-align:left;background-color:#ff523b">Show password</td>
            <td style="background-color:#ff523b"></td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <input type="password" value="@Html.DisplayFor(modelItem => item.Password)" id="myInput" />
                </td>
                <td>
                    <input type="checkbox" onclick="myFunction()">
                </td>
                <td style="text-align:left">
                    @Html.ActionLink("Chỉnh sửa thông tin", "Edit", new { id = item.IDUser })
                    @*@Html.ActionLink("Details", "Details", new { id = item.IDUser }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.IDUser })*@
                </td>
            </tr>
        }

    </table>


    @{
        IEnumerable<WebsiteBicycleStore.Models.Product> user = ViewBag.kh as IEnumerable<WebsiteBicycleStore.Models.Product>;
        <div class="categories" style="margin-top:100px">
            <div class="small-container">
                <h4 class="title1" style="text-align:center">Sản Phẩm </h4>
                <div class="row">
                    @foreach (var item in ViewBag.kh)
                    {
                        <div class="col-4">
                            <img src="@Url.Content(item.Images)" style="height:300px;width:300px" />
                            <h4>@item.NameProduct</h4>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p>$@item.UnitPrice <a href="/ShoppingCart/AddtoCart/@item.IDProduct"><img src="~/Content/images/iconcart.png" style="height:30px;width:30px" /></a></p>
                            <p>
                                <a href="/SanPham/chi_tiet_san_pham/@item.IDProduct">
                                    Xem Chi Tiêt
                                </a>
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    <div class="footer" style="background:#000;color:#8a8a8a;font-size:14px;padding:60px 0 20px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Đồ Án Thương Mại Điện Tử</h3>
                    <p>Thứ 2 - Ca 1</p>
                </div>
                <div class="col-md-4">
                    <h3>Website Bán Xe Đạp</h3>
                    <p>(E-Commerce)</p>
                </div>
                <div class="col-md-4">
                    <h3>Thành Viên Nhóm</h3>
                    <ul>
                        <li>Trần Minh Triết 17DH110049</li>
                        <li>Lê Ngọc Bảo Toàn 17DH110050</li>
                        <li>Nguyễn Bá Duy Việt 17DH110057</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Follow Us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>




    <script>
        function myFunction() {
            var x = document.getElementById("myInput");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>

    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px";
            }
            else {
                MenuItems.style.maxHeight = "0px";
            }
        }
    </script>
</body>
</html>
