@model IEnumerable<WebsiteBicycleStore.Models.Order>
@{
    ViewBag.Title = "DonHang";
    Layout = "~/Views/MenuLayout.cshtml";
}

<h1 style="text-align:center;margin-top:10px">Đơn hàng của bạn</h1>

<p>Tổng số đơn hàng bạn đã đặt : @Session["Count"]</p>
@foreach (var item in Model)
{
<p>Tổng số tiền đã thanh toán cho các đơn hàng: $@Model.Sum(s => s.Amount)</p>
    break;
}

<p style="font-weight:bold;color:red">KHÔNG THỂ HỦY ĐƠN HÀNG KHI ĐANG TRONG QUÁ TRÌNH GIAO</p>
<table style="margin:auto">
    <tr style="background-color:#ff523b;color:white">
        <td style="text-align:center">Mã đơn hàng</td>
        <td style="text-align:center">Ngày</td>
        <td style="text-align:center">Địa chỉ nhận hàng</td>
        <td style="text-align:center">Tổng số tiền thanh toán</td>
        <td style="text-align:center">Ghi chú</td>
        <td style="text-align:center">Tình Trạng Thanh Toán</td>
        <td style="text-align:center">Tình Trạng Đơn Hàng</td>
        <td style="text-align:center">Tình Trạng Đóng Gói</td>
        <td style="text-align:center">Tình Trạng Giao Hàng</td>
        <td style="text-align:center">Hủy Đơn Hàng</td>
        <td style="text-align:center"></td>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="border:1px solid black">
            <td style="border:1px solid black">@item.IDOrder</td>
            <td style="border:1px solid black">@item.OrderDate</td>
            <td style="border:1px solid black">@item.Address_Cus</td>

            <td style="border:1px solid black">$@item.Amount</td>
            <td style="border:1px solid black">@item.Descriptions</td>
            <td hidden>
                                <a href="/Orders/TinhTrangThanhToan/@item.IDOrder">@(item.TinhTrangThanhToan.GetValueOrDefault()?"Đã Thanh Toán":"Chưa Thanh Toán")</a>
                                <a href="/Orders/TinhTrangDonHang/@item.IDOrder">@(item.TinhTrangDonHang.GetValueOrDefault()?"Đã Xác Nhận":"Chưa Xác Nhận")</a>
                                <a href="/Orders/TinhTrangDongGoi/@item.IDOrder">@(item.TinhTrangDongGoi.GetValueOrDefault()?"Đóng Gói Thành Công":"Đang Trong Quá Trình Đóng Giói")</a>
                                <a href="/Orders/TinhTrangGiao/@item.IDOrder">@(item.TinhTrangGiao.GetValueOrDefault()?"Giao Thành Công":"Đang Trong Quá Trình Giao")</a>
                                <a href="/Orders/HuyDon/@item.IDOrder">@(item.HuyDon.GetValueOrDefault()? "Bạn Đã Hủy Đơn Hàng Này" : "Hủy Đơn ")</a>
                            </td>

                            @if (item.HuyDon == true)
                            {
                                <td style="border:1px solid black"><a href="#">Đã Hủy</a></td>
                                <td style="border:1px solid black"><a href="#">Đã Hủy</a></td>
                                <td style="border:1px solid black"><a href="#">Đã Hủy</a></td>
                                <td style="border:1px solid black"><a href="#">Đã Hủy</a></td>
                                <td style="border:1px solid black"><a href="#">Đã Hủy</a></td>

                            }
                            else
                            {
                                <td style="border:1px solid black">
                                    @*@Html.DisplayFor(modelItem => item.TinhTrangThanhToan)*@
                                    <a href="#">@(item.TinhTrangThanhToan.GetValueOrDefault()?"Đã Thanh Toán":"Chưa Thanh Toán")</a>
                                </td>
                                <td style="border:1px solid black">
                                    @*@Html.DisplayFor(modelItem => item.TinhTrangDonHang)*@
                                    <a href="#">@(item.TinhTrangDonHang.GetValueOrDefault()?"Đã Xác Nhận":"Chưa Xác Nhận")</a>
                                </td>
                                if (item.TinhTrangDonHang == false)
                                {
                                    <td style="border:1px solid black"><a href="#">Đang Xử lý</a></td>
                                }
                                else
                                {
                                    <td style="border:1px solid black">
                                        @*@Html.DisplayFor(modelItem => item.TinhTrangDongGioi)*@
                                        <a href="#r">@(item.TinhTrangDongGoi.GetValueOrDefault()?"Đóng Gói Thành Công":"Đang Trong Quá Trình Đóng Giói")</a>
                                    </td>
                                }

                                if (item.TinhTrangDongGoi == false)
                                {
                                    <td style="border:1px solid black"><a href="#">Đang Xử lý</a></td>
                                }
                                else
                                {
                                    <td style="border:1px solid black">
                                        @*@Html.DisplayFor(modelItem => item.TinhTrangGiao)*@
                                        <a href="#">@(item.TinhTrangGiao.GetValueOrDefault()?"Giao Thành Công":"Đang Trong Quá Trình Giao")</a>
                                    </td>
                                }




                                if (item.TinhTrangDongGoi == false)
                                {
                                    <td style="border:1px solid black">
                                        @*@Html.DisplayFor(modelItem => item.HuyDon)*@
                                        <a href="/Home/HuyDonForCus/@item.IDOrder">@(item.HuyDon.GetValueOrDefault()? "Bạn Đã Hủy Đơn Hàng Này" : "Hủy Đơn ")</a>
                                    </td>

                                }
                                else if (item.TinhTrangGiao == false || item.TinhTrangGiao == true)
                                {

                                    <td style="border:1px solid black"><a href="#">không thể hủy đơn hàng</a></td>

                                }

                            }

                            @*@if (item.HuyDon == true || item.HuyDon == false)
                            {
                                 <td style="border:1px solid black">
                                     <a href="/Orders/Delete/@item.IDOrder" style="color:red">Delete</a>
                                 @Html.ActionLink("Delete", "Delete", new { id = item.IDOrder })
                            </td>
                            }*@
            <td style="border:1px solid black">
                <a href="/Home/chi_tiet_don_hang/@item.IDOrder">
                    Xem Chi Tiêt
                </a>
            </td>
        </tr>
        
    }
</table>





<!--footer-->
<div class="footer" style="background:#000;color:#8a8a8a;font-size:14px;padding:60px 0 20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Đồ Án Thương Mại Điện Tử</h3>
                <p>Thứ 2 - Ca 1</p>
            </div>
            <div class="col-md-4">
                <h3>Website Bán Xe Đạp</h3>
                <p>(E-Commerce)</p>
            </div>
            <div class="col-md-4">
                <h3>Thành Viên Nhóm</h3>
                <ul>
                    <li>Trần Minh Triết 17DH110049</li>
                    <li>Lê Ngọc Bảo Toàn 17DH110050</li>
                    <li>Nguyễn Bá Duy Việt 17DH110057</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                </ul>
            </div>
        </div>
    </div>
</div>
