@model WebsiteBicycleStore.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address_Cus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address_Cus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descriptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descriptions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrangGiao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrangGiao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrangDonHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrangDonHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrangThanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrangThanhToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HuyDon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HuyDon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrangDongGoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrangDongGoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDOrder }) |
    @Html.ActionLink("Back to List", "Index")
</p>
