@model IEnumerable<WebsiteBicycleStore.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout.cshtml";
}

<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                Quản Lý Website Bán Xe Đạp
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" method="GET" role="search">
                <div class="form-group">
                    <input type="text" name="q" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/Home/Index" target="_blank">Visit Site</a></li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        @Session["EmailAdmin"]
                        <span class="caret"></span>
                    </a>
                </li>
                @if (@Session["EmailAdmin"] != null)
                {
                    <li><a href="@Url.Action("LogOut", "Login_SignUp")">LogOut</a></li>

                }
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid main-container">

    <ul class="nav nav-pills nav-stacked">
        <li><a href="/Users/Index">Khách Hàng</a></li>
        <li><a href="/LoaiNguoiDungs/Index">Loại Khách Hàng</a></li>
        <li><a href="/Products/Index">Sản Phẩm</a></li>
        <li><a href="/Categories/Index">Loại Sản Phẩm</a></li>
        <li class="active"><a href="/Orders/Index">Đơn Hàng</a></li>
        <li><a href="#">Chi Tiết Đơn hàng</a></li>
    </ul>

    @*Đơn hàng xác nhận*@
    <div class="panel panel-default">
        <div class="panel-heading">
            Đơn Hàng Đang Trong Quá Trình Xử Lý
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>
                        Mã Đơn
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address_Cus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descriptions)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TinhTrangThanhToan)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TinhTrangDonHang)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TinhTrangDongGoi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TinhTrangGiao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HuyDon)
                    </th>
                    <th>
                        Xóa Đơn Hàng
                    </th>
                    <th>
                        Chi tiết
                    </th>

                    @*<th>
                            @Html.DisplayNameFor(model => model.User.FirstName)
                        </th>*@
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    if (item.HuyDon == false && item.TinhTrangDongGoi == false && item.TinhTrangGiao == false || item.HuyDon == false && item.TinhTrangDongGoi == true && item.TinhTrangGiao == false)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IDOrder)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address_Cus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descriptions)
                            </td>
                            <td hidden>
                                <a href="/Orders/TinhTrangThanhToan/@item.IDOrder">@(item.TinhTrangThanhToan.GetValueOrDefault()?"Đã Thanh Toán":"Chưa Thanh Toán")</a>
                                <a href="/Orders/TinhTrangDonHang/@item.IDOrder">@(item.TinhTrangDonHang.GetValueOrDefault()?"Đã Xác Nhận":"Chưa Xác Nhận")</a>
                                <a href="/Orders/TinhTrangDongGoi/@item.IDOrder">@(item.TinhTrangDongGoi.GetValueOrDefault()?"Đóng Gói Thành Công":"Đang Trong Quá Trình Đóng Giói")</a>
                                <a href="/Orders/TinhTrangGiao/@item.IDOrder">@(item.TinhTrangGiao.GetValueOrDefault()?"Giao Thành Công":"Đang Trong Quá Trình Giao")</a>
                                <a href="/OrderDetails/Index/@item.IDOrder">Xem Chi tiết</a>
                            </td>

                            @if (item.HuyDon == true)
                            {
                                <td><a href="#">Đã Hủy</a></td>
                                <td><a href="#">Đã Hủy</a></td>
                                <td><a href="#">Đã Hủy</a></td>
                                <td><a href="#">Đã Hủy</a></td>
                                <td><a href="#">Đã Hủy</a></td>

                            }
                            else
                            {
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.TinhTrangThanhToan)*@
                                    <a href="/Orders/TinhTrangThanhToan/@item.IDOrder">@(item.TinhTrangThanhToan.GetValueOrDefault()?"Đã Thanh Toán":"Chưa Thanh Toán")</a>
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.TinhTrangDonHang)*@
                                    <a href="/Orders/TinhTrangDonHang/@item.IDOrder">@(item.TinhTrangDonHang.GetValueOrDefault()?"Đã Xác Nhận":"Chưa Xác Nhận")</a>
                                </td>
                                if (item.TinhTrangDonHang == false)
                                {
                                    <td><a href="#">Đang Xử lý</a></td>
                                }
                                else
                                {
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.TinhTrangDongGioi)*@
                                        <a href="/Orders/TinhTrangDongGoi/@item.IDOrder">@(item.TinhTrangDongGoi.GetValueOrDefault()?"Đóng Gói Thành Công":"Đang Trong Quá Trình Đóng Giói")</a>
                                    </td>
                                }

                                if (item.TinhTrangDongGoi == false)
                                {
                                    <td><a href="#">Đang Xử lý</a></td>
                                }
                                else
                                {
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.TinhTrangGiao)*@
                                        <a href="/Orders/TinhTrangGiao/@item.IDOrder">@(item.TinhTrangGiao.GetValueOrDefault()?"Giao Thành Công":"Đang Trong Quá Trình Giao")</a>
                                    </td>
                                }




                                if (item.TinhTrangDongGoi == false)
                                {
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.HuyDon)*@
                                        <a href="/Orders/HuyDon/@item.IDOrder">@(item.HuyDon.GetValueOrDefault()? "Bạn Đã Hủy Đơn Hàng Này" : "Hủy Đơn ")</a>
                                    </td>

                                }
                                else if (item.TinhTrangGiao == false || item.TinhTrangGiao == true)
                                {

                                    <td><a href="#">không thể hủy đơn hàng</a></td>

                                }

                            }

                            @if (item.HuyDon == true || item.HuyDon == false)
                            {
                                <td style="font-weight:bold">
                                    <a href="/Orders/Delete/@item.IDOrder" style="color:red">Delete</a>
                                    @*@Html.ActionLink("Delete", "Delete", new { id = item.IDOrder })*@
                                </td>
                            }
                            @*else
                                {
                                    <td><a href="#">Hủy Đơn Trước Khi Xóa</a></td>
                                }*@






                            @*<td>
                                    @Html.DisplayFor(modelItem => item.User.FirstName)
                                </td>*@
                            @*<td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.IDOrder }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.IDOrder }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.IDOrder })
                                </td>*@
                            <td><a href="/OrderDetails/Index/@item.IDOrder">Xem Chi tiết</a></td>
                        </tr>
                    }

                }

            </table>
        </div>
    </div>
    @*Đơn Hàng Giao Thành Công*@
    <div class="panel panel-default">
        <div class="panel-heading">
            Đơn Hàng Đã Giao Thành Công
            <p style="text-align:right">Tổng Số Đơn Hàng Giao Thành Công : <strong>@Session["SoDonGiaoThanhCong"]</strong>  </p>
            <p style="text-align:right"> Doanh Thu Đơn hàng : <strong>$@Session["soDonGiaoThanhCongDoanhThu"]</strong></p>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>
                        Mã Đơn
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address_Cus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descriptions)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TinhTrangThanhToan)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TinhTrangDonHang)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TinhTrangDongGoi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TinhTrangGiao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HuyDon)
                    </th>
                    <th>
                        Xóa Đơn Hàng
                    </th>
                    <th>
                        Chi tiết
                    </th>

                    @*<th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>*@
                    <th></th>
                </tr>


                @foreach (var item in Model)
                {
                    if (item.Descriptions != "Đã Thanh Toán Bằng PayPal")
                    {
                        if (item.TinhTrangGiao == true && item.TinhTrangDonHang == true && item.TinhTrangDongGoi == true && item.TinhTrangThanhToan == true || item.TinhTrangGiao == true && item.TinhTrangDonHang == true && item.TinhTrangDongGoi == true && item.TinhTrangThanhToan == false)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IDOrder)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address_Cus)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descriptions)
                                </td>
                                <td hidden>
                                    <a href="/Orders/TinhTrangThanhToan/@item.IDOrder">@(item.TinhTrangThanhToan.GetValueOrDefault()?"Đã Thanh Toán":"Chưa Thanh Toán")</a>
                                    <a href="/Orders/TinhTrangDonHang/@item.IDOrder">@(item.TinhTrangDonHang.GetValueOrDefault()?"Đã Xác Nhận":"Chưa Xác Nhận")</a>
                                    <a href="/Orders/TinhTrangDongGoi/@item.IDOrder">@(item.TinhTrangDongGoi.GetValueOrDefault()?"Đóng Gói Thành Công":"Đang Trong Quá Trình Đóng Giói")</a>
                                    <a href="/Orders/TinhTrangGiao/@item.IDOrder">@(item.TinhTrangGiao.GetValueOrDefault()?"Giao Thành Công":"Đang Trong Quá Trình Giao")</a>
                                    <a href="/Orders/HuyDon/@item.IDOrder">@(item.HuyDon.GetValueOrDefault()? "Bạn Đã Hủy Đơn Hàng Này" : "Hủy Đơn ")</a>
                                    <a href="/OrderDetails/Index/@item.IDOrder">Xem chi tiết</a>
                                </td>

                                @if (item.HuyDon == true)
                                {
                                    <td><a href="#">Đã Hủy</a></td>
                                    <td><a href="#">Đã Hủy</a></td>
                                    <td><a href="#">Đã Hủy</a></td>
                                    <td><a href="#">Đã Hủy</a></td>
                                    <td><a href="#">Đã Hủy</a></td>

                                }
                                else
                                {
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.TinhTrangThanhToan)*@
                                        <a href="/Orders/TinhTrangThanhToan/@item.IDOrder">@(item.TinhTrangThanhToan.GetValueOrDefault()?"Đã Thanh Toán":"Chưa Thanh Toán")</a>
                                    </td>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.TinhTrangDonHang)*@
                                        <a href="/Orders/TinhTrangDonHang/@item.IDOrder">@(item.TinhTrangDonHang.GetValueOrDefault()?"Đã Xác Nhận":"Chưa Xác Nhận")</a>
                                    </td>
                                    if (item.TinhTrangDonHang == false)
                                    {
                                        <td><a href="#">Đang Xử lý</a></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.TinhTrangDongGioi)*@
                                            <a href="/Orders/TinhTrangDongGoi/@item.IDOrder">@(item.TinhTrangDongGoi.GetValueOrDefault()?"Đóng Gói Thành Công":"Đang Trong Quá Trình Đóng Giói")</a>
                                        </td>
                                    }

                                    if (item.TinhTrangDongGoi == false)
                                    {
                                        <td><a href="#">Đang Xử lý</a></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.TinhTrangGiao)*@
                                            <a href="/Orders/TinhTrangGiao/@item.IDOrder">@(item.TinhTrangGiao.GetValueOrDefault()?"Giao Thành Công":"Đang Trong Quá Trình Giao")</a>
                                        </td>
                                    }




                                    if (item.TinhTrangDongGoi == false)
                                    {
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.HuyDon)*@
                                            <a href="/Orders/HuyDon/@item.IDOrder">@(item.HuyDon.GetValueOrDefault()? "Bạn Đã Hủy Đơn Hàng Này" : "Hủy Đơn ")</a>
                                        </td>

                                    }
                                    else if (item.TinhTrangGiao == false || item.TinhTrangGiao == true)
                                    {

                                        <td><a href="#">không thể hủy đơn hàng</a></td>

                                    }

                                }

                                @if (item.HuyDon == true || item.HuyDon == false)
                                {
                                    <td style="font-weight:bold">
                                        <a href="/Orders/Delete/@item.IDOrder" style="color:red">Delete</a>
                                        @*@Html.ActionLink("Delete", "Delete", new { id = item.IDOrder })*@
                                    </td>
                                }
                                @*else
                        {
                            <td><a href="#">Hủy Đơn Trước Khi Xóa</a></td>
                        }*@






                                @*<td>
                            @Html.DisplayFor(modelItem => item.User.FirstName)
                        </td>*@
                                @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.IDOrder }) |
                            @Html.ActionLink("Details", "Details", new { id = item.IDOrder }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.IDOrder })
                        </td>*@
                                <td> <a href="/OrderDetails/Index/@item.IDOrder">Xem chi tiết</a></td>
                            </tr>
                        }

                    }

                }

            </table>
        </div>
    </div>
    @*Đơn Hàng Giao Thành Công (Thanh Toán Bằng Paypal)*@
    <div class="panel panel-default">
        <div class="panel-heading">
            Đơn Hàng Đã Giao Thành Công (Thanh Toán Bằng PayPal)
            <p style="text-align:right">Tổng Số Đơn Hàng Giao Thành Công : <strong>@Session["SoDonGiaoThanhCongPayPal"]</strong>  </p>
            <p style="text-align:right"> Doanh Thu Đơn hàng : <strong>$@Session["soDonGiaoThanhCongDoanhThuPayPal"]</strong></p>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>
                        Mã Đơn
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address_Cus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descriptions)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TinhTrangThanhToan)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TinhTrangDonHang)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TinhTrangDongGoi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TinhTrangGiao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HuyDon)
                    </th>
                    <th>
                        Xóa Đơn Hàng
                    </th>
                    <th>
                        Chi tiết
                    </th>

                    @*<th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>*@
                    <th></th>
                </tr>


                @foreach (var item in Model)
                {
                    if (item.Descriptions == "Đã Thanh Toán Bằng PayPal")
                    {
                        if (item.TinhTrangGiao == true && item.TinhTrangDonHang == true && item.TinhTrangDongGoi == true && item.TinhTrangThanhToan == true)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IDOrder)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address_Cus)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descriptions)
                                </td>
                                <td hidden>
                                    <a href="/Orders/TinhTrangThanhToan/@item.IDOrder">@(item.TinhTrangThanhToan.GetValueOrDefault()?"Đã Thanh Toán":"Chưa Thanh Toán")</a>
                                    <a href="/Orders/TinhTrangDonHang/@item.IDOrder">@(item.TinhTrangDonHang.GetValueOrDefault()?"Đã Xác Nhận":"Chưa Xác Nhận")</a>
                                    <a href="/Orders/TinhTrangDongGoi/@item.IDOrder">@(item.TinhTrangDongGoi.GetValueOrDefault()?"Đóng Gói Thành Công":"Đang Trong Quá Trình Đóng Giói")</a>
                                    <a href="/Orders/TinhTrangGiao/@item.IDOrder">@(item.TinhTrangGiao.GetValueOrDefault()?"Giao Thành Công":"Đang Trong Quá Trình Giao")</a>
                                    <a href="/Orders/HuyDon/@item.IDOrder">@(item.HuyDon.GetValueOrDefault()? "Bạn Đã Hủy Đơn Hàng Này" : "Hủy Đơn ")</a>
                                    <a href="/OrderDetails/Index/@item.IDOrder">Xem chi tiết</a>
                                </td>

                                @if (item.HuyDon == true)
                                {
                                    <td><a href="#">Đã Hủy</a></td>
                                    <td><a href="#">Đã Hủy</a></td>
                                    <td><a href="#">Đã Hủy</a></td>
                                    <td><a href="#">Đã Hủy</a></td>
                                    <td><a href="#">Đã Hủy</a></td>

                                }
                                else
                                {
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.TinhTrangThanhToan)*@
                                        <a href="/Orders/TinhTrangThanhToan/@item.IDOrder">@(item.TinhTrangThanhToan.GetValueOrDefault()?"Đã Thanh Toán":"Chưa Thanh Toán")</a>
                                    </td>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.TinhTrangDonHang)*@
                                        <a href="/Orders/TinhTrangDonHang/@item.IDOrder">@(item.TinhTrangDonHang.GetValueOrDefault()?"Đã Xác Nhận":"Chưa Xác Nhận")</a>
                                    </td>
                                    if (item.TinhTrangDonHang == false)
                                    {
                                        <td><a href="#">Đang Xử lý</a></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.TinhTrangDongGioi)*@
                                            <a href="/Orders/TinhTrangDongGoi/@item.IDOrder">@(item.TinhTrangDongGoi.GetValueOrDefault()?"Đóng Gói Thành Công":"Đang Trong Quá Trình Đóng Giói")</a>
                                        </td>
                                    }

                                    if (item.TinhTrangDongGoi == false)
                                    {
                                        <td><a href="#">Đang Xử lý</a></td>
                                    }
                                    else
                                    {
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.TinhTrangGiao)*@
                                            <a href="/Orders/TinhTrangGiao/@item.IDOrder">@(item.TinhTrangGiao.GetValueOrDefault()?"Giao Thành Công":"Đang Trong Quá Trình Giao")</a>
                                        </td>
                                    }




                                    if (item.TinhTrangDongGoi == false)
                                    {
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.HuyDon)*@
                                            <a href="/Orders/HuyDon/@item.IDOrder">@(item.HuyDon.GetValueOrDefault()? "Bạn Đã Hủy Đơn Hàng Này" : "Hủy Đơn ")</a>
                                        </td>

                                    }
                                    else if (item.TinhTrangGiao == false || item.TinhTrangGiao == true)
                                    {

                                        <td><a href="#">không thể hủy đơn hàng</a></td>

                                    }

                                }

                                @if (item.HuyDon == true || item.HuyDon == false)
                                {
                                    <td style="font-weight:bold">
                                        <a href="/Orders/Delete/@item.IDOrder" style="color:red">Delete</a>
                                        @*@Html.ActionLink("Delete", "Delete", new { id = item.IDOrder })*@
                                    </td>
                                }
                                @*else
                        {
                            <td><a href="#">Hủy Đơn Trước Khi Xóa</a></td>
                        }*@






                                @*<td>
                            @Html.DisplayFor(modelItem => item.User.FirstName)
                        </td>*@
                                @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.IDOrder }) |
                            @Html.ActionLink("Details", "Details", new { id = item.IDOrder }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.IDOrder })
                        </td>*@
                                <td> <a href="/OrderDetails/Index/@item.IDOrder">Xem chi tiết</a></td>
                            </tr>
                        }

                    }

                }

            </table>
        </div>
    </div>
    @*Đơn Hàng Đã Hủy*@
    <div class="panel panel-default">
        <div class="panel-heading">
            Đơn Hàng Đã Hủy
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>
                        Mã Đơn
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address_Cus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descriptions)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TinhTrangThanhToan)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TinhTrangDonHang)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TinhTrangDongGoi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TinhTrangGiao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HuyDon)
                    </th>
                    <th>
                        Xóa Đơn Hàng
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.User.FirstName)
                        </th>*@
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    if (item.HuyDon == true)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IDOrder)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address_Cus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descriptions)
                            </td>
                            <td hidden>
                                <a href="/Orders/TinhTrangThanhToan/@item.IDOrder">@(item.TinhTrangThanhToan.GetValueOrDefault()?"Đã Thanh Toán":"Chưa Thanh Toán")</a>
                                <a href="/Orders/TinhTrangDonHang/@item.IDOrder">@(item.TinhTrangDonHang.GetValueOrDefault()?"Đã Xác Nhận":"Chưa Xác Nhận")</a>
                                <a href="/Orders/TinhTrangDongGoi/@item.IDOrder">@(item.TinhTrangDongGoi.GetValueOrDefault()?"Đóng Gói Thành Công":"Đang Trong Quá Trình Đóng Giói")</a>
                                <a href="/Orders/TinhTrangGiao/@item.IDOrder">@(item.TinhTrangGiao.GetValueOrDefault()?"Giao Thành Công":"Đang Trong Quá Trình Giao")</a>
                                <a href="/Orders/HuyDon/@item.IDOrder">@(item.HuyDon.GetValueOrDefault()? "Bạn Đã Hủy Đơn Hàng Này" : "Hủy Đơn ")</a>
                            </td>

                            @if (item.HuyDon == true)
                            {
                                <td><a href="#">Đã Hủy</a></td>
                                <td><a href="#">Đã Hủy</a></td>
                                <td><a href="#">Đã Hủy</a></td>
                                <td><a href="#">Đã Hủy</a></td>
                                <td><a href="#">Đã Hủy</a></td>

                            }
                            else
                            {
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.TinhTrangThanhToan)*@
                                    <a href="/Orders/TinhTrangThanhToan/@item.IDOrder">@(item.TinhTrangThanhToan.GetValueOrDefault()?"Đã Thanh Toán":"Chưa Thanh Toán")</a>
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.TinhTrangDonHang)*@
                                    <a href="/Orders/TinhTrangDonHang/@item.IDOrder">@(item.TinhTrangDonHang.GetValueOrDefault()?"Đã Xác Nhận":"Chưa Xác Nhận")</a>
                                </td>
                                if (item.TinhTrangDonHang == false)
                                {
                                    <td><a href="#">Đang Xử lý</a></td>
                                }
                                else
                                {
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.TinhTrangDongGioi)*@
                                        <a href="/Orders/TinhTrangDongGoi/@item.IDOrder">@(item.TinhTrangDongGoi.GetValueOrDefault()?"Đóng Gói Thành Công":"Đang Trong Quá Trình Đóng Giói")</a>
                                    </td>
                                }

                                if (item.TinhTrangDongGoi == false)
                                {
                                    <td><a href="#">Đang Xử lý</a></td>
                                }
                                else
                                {
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.TinhTrangGiao)*@
                                        <a href="/Orders/TinhTrangGiao/@item.IDOrder">@(item.TinhTrangGiao.GetValueOrDefault()?"Giao Thành Công":"Đang Trong Quá Trình Giao")</a>
                                    </td>
                                }




                                if (item.TinhTrangDongGoi == false)
                                {
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.HuyDon)*@
                                        <a href="/Orders/HuyDon/@item.IDOrder">@(item.HuyDon.GetValueOrDefault()? "Bạn Đã Hủy Đơn Hàng Này" : "Hủy Đơn ")</a>
                                    </td>

                                }
                                else if (item.TinhTrangGiao == false || item.TinhTrangGiao == true)
                                {

                                    <td><a href="#">không thể hủy đơn hàng</a></td>

                                }

                            }

                            @if (item.HuyDon == true || item.HuyDon == false)
                            {
                                <td style="font-weight:bold">
                                    <a href="/Orders/Delete/@item.IDOrder" style="color:red">Delete</a>
                                    @*@Html.ActionLink("Delete", "Delete", new { id = item.IDOrder })*@
                                </td>
                            }
                            @*else
                                {
                                    <td><a href="#">Hủy Đơn Trước Khi Xóa</a></td>
                                }*@






                            @*<td>
                                    @Html.DisplayFor(modelItem => item.User.FirstName)
                                </td>*@
                            @*<td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.IDOrder }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.IDOrder }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.IDOrder })
                                </td>*@
                        </tr>
                    }

                }

            </table>
        </div>
    </div>

    <footer class="pull-left footer">
        <p class="col-md-12">
            <hr class="divider">
            Copyright &COPY; 2015 <a href="http://www.pingpong-labs.com">Gravitano</a>
        </p>
    </footer>
</div>