@model WebsiteBicycleStore.Models.Cart
@{
    ViewBag.Title = "ShowToCart";
    Layout = "~/Views/MenuLayout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />


@Session["ship"]

<div class="small-container cart-page">
    <div class="row">
        <div class="col-lg-6">
            <table class="testpaypal">
                <tr>
                    <th>Sản Phẩm</th>
                    <th>Số lượng</th>
                    <th>Giá Tiền</th>
                </tr>
                @if (Model.Items == null)
                {
                    <tr>ViewBag.mess</tr>


                }
                else
                {
                    foreach (var item in Model.Items)
                    {
                        double total = Convert.ToDouble(item._shopping_product.UnitPrice.Value * item._shopping_quantity);
                        <tr>

                            <td>
                                <div class="cart-info">
                                    <img src="@Url.Content(item._shopping_product.Images)" />
                                    <div>
                                        <p>@Html.DisplayFor(model => item._shopping_product.NameProduct)</p>
                                        <small>$@Html.DisplayFor(model => item._shopping_product.UnitPrice)</small>
                                        <a href="/ShoppingCart/RemoveCart/@item._shopping_product.IDProduct">Remove</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                @using (Html.BeginForm("Update_Quantity_Cart", "ShoppingCart"))
                                {
                                    <input type="hidden" value="@item._shopping_product.IDProduct" name="ID_Product" />
                                    <input type="number" value="@item._shopping_quantity" name="Quantity" />
                                    <br />
                                    <input type="submit" value="Update Quantity" />
                                }
                            </td>
                            <td>$@total</td>
                        </tr>
                        Session["total"] = Model.Total_Money();
                        @*<tr>
                                <td> <a href="@Url.Action("PaymentWithPaypal", "ShoppingCart")">Payment</a></td>
                            </tr>*@
                    }

                }

            </table>
            <div class="total-price">
                <table>
                    <tr>
                        <td>Tổng giá sản phẩm</td>
                        <td>$@Model.Total_Money()</td>
                    </tr>
                    <tr>
                        <td>Giá thuế</td>
                        <td>$0</td>
                    </tr>
                    <tr>
                        <td>Tổng giá sản phẩm</td>
                        <td><input type="text" name="Amount" value="$@Model.Total_Money()" /></td>
                    </tr>
                    <tr>
                        <td><a href="/Home/Index">Tiếp tục mua sắm</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            @if (Session["Email"] == null)
            {
                <h2>Vui lòng đăng nhập trước khi thanh toán</h2>
                <h3 class="btn"> <a href="/Login_SignUp/Login">Đăng nhập ?</a></h3>
            }
            else
            {
                <!-- Link to open the modal -->
                <div>
                    <a href="#ex1" rel="modal:open" class="btn">Thanh Toán Bằng Tiền Mặt</a> <br />
                    <a @*href="#ex2" rel="modal:open" class="btn">Thanh Toán Bằng Thẻ ATM</a> <br />*@
                       @*<a href="#ex3" rel="modal:open" class="btn3">Thanh Toán Bằng PayPal</a>*@
                    <a href="@Url.Action("PaymentWithPaypal", "ShoppingCart")" class="btn">Thanh Toán bằng PayPal</a>
                    <div id="smart-button-container">
                        <div style="text-align: center;">
                            <div id="paypal-button-container"></div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>

</div>



<!--Modal TT tiền mặt-->


<div id="ex1" class="modal">
    @using (Html.BeginForm("CheckOut", "ShoppingCart"))
    {
        <h3>Nhập địa chỉ nhà</h3>
        <input type="text" name="diachi" required />
        <br />
        <i>Lưu ý : thanh toán tiền mặt sau khi đã nhận hàng và kiểm tra</i>

        <table>
            <tr>
                <td style="background-color:#ff523b">Hình Ảnh</td>
                <td style="background-color:#ff523b">Tên Sản Phẩm</td>
                <td style="background-color:#ff523b">Giá Tiền</td>
                <td style="background-color:#ff523b">Số Lượng</td>
            </tr>
            @foreach (var item in Model.Items)
            {
                double total = Convert.ToDouble(item._shopping_product.UnitPrice.Value * item._shopping_quantity);
                <tr>

                    <td>
                        <img src="@Url.Content(item._shopping_product.Images)" />
                    </td>
                    <td>@Html.DisplayFor(model => item._shopping_product.NameProduct)</td>
                    <td>$@Html.DisplayFor(model => item._shopping_product.UnitPrice)</td>
                    <td>@Html.DisplayFor(model => item._shopping_quantity)</td>
                </tr>
            }
        </table>

        <div style="float:right">Tổng tiền thanh toán: $@Model.Total_Money()</div>
        <input type="number" name="amount" value="@Model.Total_Money()" hidden />
        <input type="submit" class="btn" value="Xác Nhận Đơn Hàng" />
    }
</div>

<!--Modal TT Thẻ ATM-->
<div id="ex2" class="modal">
    @using (Html.BeginForm("CheckOut1", "ShoppingCart"))
    {
        <h1>Lỗi Ví MoMo</h1>
        <h3>Nhập địa chỉ nhà</h3>
        <input type="text" name="diachi" required />
        <br />
        <i>Lưu ý : Chuyển khoản đúng với số tiền trước khi bấm <i style="color:red">xác nhận đơn hàng</i></i> <br />
        <img src="~/Content/images/QRmomo.jpg" />
        <p>Nội dụng : [Tên tài khoản đăng nhập] chuyển khoản xác nhận hóa đơn @Session["mhd"] </p>
        <table>
            <tr>
                <td style="background-color:#ff523b">Hình Ảnh</td>
                <td style="background-color:#ff523b">Tên Sản Phẩm</td>
                <td style="background-color:#ff523b">Giá Tiền</td>
                <td style="background-color:#ff523b">Số Lượng</td>
            </tr>
            @foreach (var item in Model.Items)
            {
                double total = Convert.ToDouble(item._shopping_product.UnitPrice.Value * item._shopping_quantity);
                <tr>

                    <td>
                        <img src="@Url.Content(item._shopping_product.Images)" />
                    </td>
                    <td>@Html.DisplayFor(model => item._shopping_product.NameProduct)</td>
                    <td>$@Html.DisplayFor(model => item._shopping_product.UnitPrice)</td>
                    <td>@Html.DisplayFor(model => item._shopping_quantity)</td>
                </tr>
            }
        </table>

        <div style="float:right">$@Model.Total_Money()</div>
        <input type="number" name="amount" value="@Model.Total_Money()" hidden />
        <input type="submit" class="btn" value="Xác Nhận Đơn Hàng" />
    }
</div>
<!--Modal TT tiền mặt-->
<div id="ex3" class="modal">
    @using (Html.BeginForm("CheckOut2", "ShoppingCart"))
    {
        <h1>Lỗi Ví MoMo</h1>
        <h3>Nhập địa chỉ nhà</h3>
        <input type="text" name="diachi" required />
        <br />
        <i>Lưu ý : Chuyển khoản đúng với số tiền trước khi bấm <i style="color:red">xác nhận đơn hàng</i></i> <br />
        <img src="~/Content/images/QRmomo.jpg" />
        <p>Nội dụng : [Tên tài khoản đăng nhập] chuyển khoản xác nhận hóa đơn @Session["mhd"] </p>
        <table>
            <tr>
                <td style="background-color:#ff523b">Hình Ảnh</td>
                <td style="background-color:#ff523b">Tên Sản Phẩm</td>
                <td style="background-color:#ff523b">Giá Tiền</td>
                <td style="background-color:#ff523b">Số Lượng</td>
            </tr>
            @foreach (var item in Model.Items)
            {
                double total = Convert.ToDouble(item._shopping_product.UnitPrice.Value * item._shopping_quantity);
                <tr>

                    <td>
                        <img src="@Url.Content(item._shopping_product.Images)" />
                    </td>
                    <td>@Html.DisplayFor(model => item._shopping_product.NameProduct)</td>
                    <td>$@Html.DisplayFor(model => item._shopping_product.UnitPrice)</td>
                    <td>@Html.DisplayFor(model => item._shopping_quantity)</td>
                </tr>
            }
        </table>

        <div style="float:right">$@Model.Total_Money()</div>
        <input type="number" name="amount" value="@Model.Total_Money()" hidden />
        <a href="@Url.Action("PaymentWithPaypal", "ShoppingCart")">Payment</a>
    }
</div>




@*footer*@
<div class="footer" style="background:#000;color:#8a8a8a;font-size:14px;padding:60px 0 20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Đồ Án Thương Mại Điện Tử</h3>
                <p>Thứ 2 - Ca 1</p>
            </div>
            <div class="col-md-4">
                <h3>Website Bán Xe Đạp</h3>
                <p>(E-Commerce)</p>
            </div>
            <div class="col-md-4">
                <h3>Thành Viên Nhóm</h3>
                <ul>
                    <li>Trần Minh Triết 17DH110049</li>
                    <li>Lê Ngọc Bảo Toàn 17DH110050</li>
                    <li>Nguyễn Bá Duy Việt 17DH110057</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                </ul>
            </div>
        </div>
    </div>
</div>



@*<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD" data-sdk-integration-source="button-factory"></script>
    <script>
        function initPayPalButton() {
            paypal.Buttons({
                style: {
                    shape: 'rect',
                    color: 'gold',
                    layout: 'vertical',
                    label: 'paypal',

                },

                createOrder: function (data, actions) {
                    return actions.order.create({
                        purchase_units: [{ "amount": { "currency_code": "USD", "value": @Model.Total_Money() } }]
                    });
                },

                onApprove: function (data, actions) {
                    return actions.order.capture().then(function (details) {
                        alert('Transaction completed by ' + details.payer.name.given_name + '!');
                    });
                },

                onError: function (err) {
                    console.log(err);
                }
            }).render('#paypal-button-container');
        }
        initPayPalButton();
    </script>*@
